#disco-vibes-pad {
    height: 70px;
    width: 300px;
    background-color: bisque;
    display: flex;
    flex-direction: row; 
}

#disco-vibes-pad > div {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: blueviolet;
}