
*{
    box-sizing: border-box;
}

header {
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color: #6FFFE9;
}

body {
    font-family: 'Electrolize', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #6FFFE9;
    background-color: #0B132B;
}

.keyboard { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container {
    height: 200px;
    display: inline;
    width: 480px;
}

#white-keys {
    height: 100%;
    width: auto;
    /* float: left; */
    display: flex;
    /* position: absolute; */
}
.white-keys {
    border: 1px solid black;
    height: 200px;
    width: 60px;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.white-keys:active {
    padding: 5px inset gray;
    box-shadow: 0 3px 1px -1px #6FFFE9;
    filter: blur(2px);
}

#black-keys {
    display: flex;
    position: absolute;
    z-index: 1;
}

.black-keys {
    height: 105px;
    width: 42px;
    display: flex;
    align-items: start;
    margin: 0 9px;
    background-color: black;
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 1px 4px -1px gray
}

.black-keys-group-1 {
    display: flex;
    margin: 0 30px;
}

.black-keys-group-2 {
    display: flex;
    margin: 0 0 0 28px;
}

// fix white keys separately. then black. then joint.

/* button {
    color: #5BC0BE;
    border: 1px outset #5BC0BE;
    border-radius: 3px;
    font-family: 'Electrolize', sans-serif;
}

button:hover {
    border: 1px inset #5BC0BE;
}

button:active {
    transform: translateY(2px);
} */

::placeholder {
    border-radius: 3px;
    color: #3A506B;
    font-family: 'Electrolize', sans-serif;
}

.slidecontainer {
    width: 100%;
    position: relative;
    right: 170px;
    bottom: 115px;

}

.slider { 
    appearance: none;
    width: 180px; 
    height: 3px; 
    background: #6FFFE9; 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    transform: rotateZ(270deg);
    // Because of transform, width and height are switched
}


.slider:hover {
    opacity: 1; 
}


.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px; 
    height: 40px; 
    background: #0B132B; 
    border: 1px solid #6FFFE9;
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #6FFFE9; 
    cursor: pointer; 
}

input[type="radio"]:checked + img {
    transform: scale(1.2);
    color: #fff;
    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

#waveforms {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    margin: 7px;
}

  @-webkit-keyframes bluePulse {
    from { color: #0B132B; filter: drop-shadow(0 0 10px #333); }
    50% { color: #6FFFE9; filter: drop-shadow(0 0 4px #6FFFE9); }
    to { color: #0B132B; filter: drop-shadow(0 0 10px #333); }
  }