
*{
    box-sizing: border-box;
}

body {
    font-family: 'Electrolize', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #6FFFE9;
    background-color: #0B132B;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.keyboard { 
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 1px 30px 4px grey;
    background-color: #0B132B;
}

.border {
    width: 480px;
    height: 51px;
    position: relative;
    background-image: url('../assets/aurora.jpg');
    opacity: .6;
    background-size: 160%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 6px 3px grey;
    background-color: #0B132B;
}

#container {
    height: 220px;
    display: inline;
    width: 480px;
    border-radius: 5px;
}

.keyboard {
    -webkit-animation-name: blueGlow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.keyboard:active {
    -webkit-animation-name: keyDownGlow;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes keyDownGlow {
    from { color: #0B132B; filter: drop-shadow(0 0 10px #333); }
    50% { color: #6FFFE9; filter: drop-shadow(1px 1px 5px #6FFFE9); }
    to { color: #0B132B; filter: drop-shadow(0 0 10px #333); }
}

@-webkit-keyframes blueGlow {
    from { color: #0B132B; filter: drop-shadow(0 0 5px #333); }
    50% { color: #6FFFE9; filter: drop-shadow(2px 2px 8px #476385); }
    to { color: #0B132B; filter: drop-shadow(0 0 5px #333); }
}

#white-keys {
    height: 100%;
    width: auto;
    display: flex;
    cursor: pointer;
}

.white-keys {
    border: 1px solid black;
    height: 220px;
    width: 60px;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.white-keys:active {
    box-shadow: inset 4px 4px 7px grey;
    filter: blur(1px);
}

.black-keys:active {
    box-shadow: 1px 1px 2px white;
}

#black-keys {
    display: flex;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.black-keys {
    height: 120px;
    width: 42px;
    display: flex;
    align-items: start;
    margin: 0 9px;
    background-color: black;
    border-radius: 0 0 5px 5px;
    box-shadow: 5px 1px 4px -1px gray
}

.black-keys-group-1 {
    display: flex;
    margin: 0 30px;
}

.black-keys-group-2 {
    display: flex;
    margin: 0 0 0 28px;
}

::placeholder {
    border-radius: 3px;
    color: #3A506B;
    font-family: 'Electrolize', sans-serif;
}

.volumecontainer {
    width: 100%;
    position: relative;
    right: 170px;
    bottom: 228px;
}

.filtercontainer {
    width: 100%;
    position: relative;
    right: 220px;
    bottom: 250px;
}

.low-volume {
    position: relative;
    top: 105px;
    left: 93px;
}

.high-volume {
    position: relative;
    right: 92px;
    bottom: 96px;
}

.slider { 
    appearance: none;
    width: 160px; 
    height: 3px; 
    background: #6FFFE9; 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    transform: rotateZ(270deg);
    /* Because of transform, width and height are reversed */
}


.slider:hover {
    opacity: 1; 
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px; 
    height: 40px; 
    background: #0B132B; 
    border: 1px solid #6FFFE9;
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #6FFFE9; 
    cursor: pointer; 
}

input[type="radio"]:checked + img {
    transform: scale(1.2);
    color: #fff;
    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

#waveforms {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    margin: 7px;
}

.waveforms {
    /* margin-top: 20px; */
    position: relative;
    bottom: 80px;
}

.sine-choice {
    position: relative;
    display: inline-block;
}

.reset {
    position: relative;
    display: inline-block;
}

.hover-layer-bottom {
    display: block;
}

.hover-layer-bottom:hover {
    opacity: .1;
}

.hover-layer-top {
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
    color: #fff;
    background-color: #0B132B;
    padding: 15px;
    -moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}

.hover-layer-top:hover {
    opacity: 1;
    transform: scale(1.2);
}

.hover-layer-top-reset:hover {
    opacity: 1;
    transform: scale(1.2);
}

.hover-layer-top-reset {
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
    color: #fff;
    background-color: #0B132B;
    padding: 15px;
    -moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}

.hover-layer-top:active {
    transform: scale(.9);
}

.hover-layer-top-reset:active {
    transform: scale(.9);
}

.hover-text {
    text-align: center;
    font-size: .6em;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.hover-text-reset {
    text-align: center;
    font-size: .6em;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@-webkit-keyframes bluePulse {
    from { color: #0B132B; filter: drop-shadow(0 0 10px #333); transform: scale(1.0)}
    50% { color: #6FFFE9; filter: drop-shadow(2px 2px 5px #6FFFE9); transform: scale(1.1)}
    to { color: #0B132B; filter: drop-shadow(0 0 10px #333); transform: scale(1.0); }
}

header {
    position: absolute;
    width: 100%;
    align-items: flex-start;
    height: 80px;
    top: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    right: 10px;
}

.drop-button {
    font-family: 'Monoton', cursive;
    font-size: 20px;
    color: #5BC0BE;
    background-color: #0B132B;
    border: 1px outset #5BC0BE;
    cursor: pointer;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0B132B;
    font-size: 16px;
    min-width: 180px;
    box-shadow: 0px 5px 16px -5px #5BC0BE;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: #5BC0BE;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #354961;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.hover-layer-top-dani {
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
    color: #fff;
    background-color: #0B132B;
    padding: 15px;
    -moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}

.hover-layer-top-dani:hover {
    opacity: 1;
    transform: scale(1.2);
}

.hover-layer-top-dani:active {
    transform: scale(.9);
}

.hover-text-dani {
    text-align: center;
    font-size: .6em;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.dani-photo {
    border-radius: 90px;
}

canvas {
    border-bottom: 3px solid #5BC0BE;
    position: relative;
    left: 40px;
    bottom: 50px;
}

#visualiser-left {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

#sample-pad {
    height: 70px;
    width: 300px;
    display: flex;
    flex-direction: row; 
    display: block;
    position: relative;
    left: 520px;
    bottom: 260px;
}

#sample-pad > div {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: #3A506B;
    border-radius: 10px;
    box-shadow: 1px 1px 4px -1px white;
    cursor: pointer;
}

#sample-pad > div:hover {
}

#sample-pad > div:active {
    background: #6FFFE9;
}