
*{
    box-sizing: border-box;
    background-color: #0B132B;
}

header {
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color: #6FFFE9;
}

body {
    font-family: 'Electrolize', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {
    color: #5BC0BE;
    border: 1px outset #5BC0BE;
    border-radius: 3px;
    font-family: 'Electrolize', sans-serif;
}

button:hover {
    border: 1px inset #5BC0BE;
}

button:active {
    transform: translateY(2px);
}

::placeholder {
    border-radius: 3px;
    color: #3A506B;
    font-family: 'Electrolize', sans-serif;
}